/vendor
/node_modules
/.vscode
/public/build
/public/hot
/public/storage
/public/app_images
/storage/*.key
/database/database.sqlite
/storage/database.sqlite
.env

Dockerfile
Dockerfile.dev
.dockerignore

CHANGELOG.md
docker-compose.yml
phpunit.xml
phpstan.neon
README.md
ecs.php
