includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src/
        - app/
    level: 7
    ignoreErrors:
        -
            message: '#(.*)(?=\s+does not accept int)#'