includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        -
            identifier: missingType.iterableValue

    excludePaths:
        - ./app/Search # 2much2laravel
        - ./app/Scraper/Sites/DefaultScraper.php # Interface/Base class mapping stuff
