includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 7
    ignoreErrors:
        -
            identifier: return.type
            path: app/Models