name: Run PHP checks

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  MEILISEARCH_HOST: http://localhost:7700

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.3', '8.4']

    steps:
    - name: Install libvips
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends libvips42

    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        extensions: bcmath, intl, ffi
        ini-values: ffi.enable=true, zend.max_allowed_stack_size=-1

    - uses: actions/checkout@v4

    - name: Meilisearch (latest version) setup with Docker
      run: docker run -d -p 7700:7700 getmeili/meilisearch:latest meilisearch --master-key=masterKeyThatIsReallyReallyLong4Real --no-analytics

    - name: Copy .env
      run: cp .env.dist .env

    - name: Install Dependencies
      run: composer install --prefer-dist --no-progress

    - name: Generate key
      run: php artisan key:generate

    - name: Check coding style
      run: ./vendor/bin/pint --test

    - name: Execute tests
      run: composer test

    - name: Execute PHPStan
      run: vendor/bin/phpstan analyse

    - uses: stoplightio/spectral-action@latest
      with:
        file_glob: 'docs/*.yaml'